h1{

	color:#1215AF;
	background-color: #FFFFFF;
	font-family: arial, san-serif;
	font-weight: bolder;

}

summary{

	font-family: arial;
	font-size: 20px;
	color: blue;

}
details{
	font-family: sans-serif;
	color: #121212;

}

